form {
  width: 75%;
  display: block;
  padding: 5%;
  margin: 0 auto 0 auto;
}
input, select {
  font-size: 1.3rem;
  padding: 4px;
  margin-bottom: 5%;
  display: block;
}
input {
  height: 2rem;
}

select {
  height: 3rem;
}

label {
  font-size: 1.3rem;
}
.form-container {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .form-container {
    width: 700px;
    margin: 0 auto;
  }

}
