form {
  width: 75%;
  display: block;
  padding: 5% 5% 0 5%;
  margin: 0 auto 0 auto;
}
input {
  margin-bottom: 5%;
  display: block;
}
.form-container {
  width: 100%;
}

.alert {
  margin: 2%;
  text-align: center;
}
