.party-list {
  box-sizing: border-box;
  background-color: var(--darkbrown);
  width: 100%;
  padding: 5%;
  margin: 5% 5% 5% 0;
}

.party-list h3 {
  display: inline;
}

.party-list button {
  margin-left: 5%;
  padding: 0 1% 0 1%;
  width: auto;
}

.party-header {
  border-bottom: 1px solid var(--dgold);
}

.char-in-party {
  padding-left: 5%;
  margin-top: 5%;
  width: 100%;
}
