.char-details-page{
  background-color: var(--darkbrown);
  margin: 5%;
}
.char-details-page h2 {
  border-bottom: 1px solid var(--dgold);
}

.char-details-page h3 {
  margin: 3% auto;
  border-bottom: 1px solid var(--dgold);
}
.details {
  display: flex;
  justify-content: space-evenly;
  margin: 0 5% 0 5%;
  text-align: left;
}
.details p, .char-details-page h4 {
  margin: 0;
}
.equipment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.equipment p {
  margin: 1% 2% 1% 2%;
}

.stickers {
  margin: 0 5% 0 5%;
  text-align: left;
}
.stickers h3 {
  margin: 0 auto;
}

.stickers h4 {
  margin-top: 5%;
  margin-bottom: 1%;
}

.stickers p {
  margin: 3% 4% 0 5%;
}
