.char-form-container {
  width: 100%;
}

form {
  padding: 5%;
}

select, input {
  display: block;
  color: var(--red);
  margin-bottom: 5%;
  background-color: var(--brown);
  border-color: var(--blackbrown);
  border-radius: 5px;
}

button {
  margin-right: 5%;
}
