nav {
  text-align: center;
  background-color: var(--gold);
  padding: 1rem;
}
nav .link {
  font-size: 1.2rem;
  margin: 2%;
  font-family: var(--bigfont);
}
nav .home {
  font-size: 1.5rem;
}
.link:link {
  color: var(--blackbrown);
}

.link:visited {
  color: var(--blackbrown);
}

.link:hover {
  color: var(--red);
}
