nav {
  background-color: var(--gold);
  padding: 1rem;
}
nav .link {
  margin: 3%;
}
nav .home {
  font-size: 1.2rem;
}
.link {
  color: var(--blackbrown);
}

.link:visited {
  color: var(--blackbrown);
}

.link:hover {
  color: var(--red);
}
