:root {
  --darkbrown: #3c0b00;
  --gold: #fbbc08;
  --blackbrown: #180400;
  --red: #bf1e01;
  --brown: #3c0b00;
}
h1,h2,h3,h4,h5,h6,p,label,input,button {
  color: var(--red);
}
body {
  background-color: var(--blackbrown);
}
a:link {
  color: var(--gold);
  decoration: none;
}
a:visited {
  color: var(--gold);
}
a:hover {
  color: var(--red);
}
